<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>B</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>C</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>D</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>E</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>F</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>G</key>
	<array>
		<string>11</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>H</key>
	<array>
		<string>22</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>I</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>J</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>K</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>L</key>
	<array>
		<string>12</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>M</key>
	<array>
		<string>11</string>
		<string>112</string>
		<string>113</string>
		<string>111</string>
		<string>113</string>
		<string>115</string>
	</array>
	<key>N</key>
	<array>
		<string>11</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>O</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>P</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>Q</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>R</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>S</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>T</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>U</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>V</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>W</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>X</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>Y</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
	<key>Z</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
	</array>
</dict>
</plist>
